@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<NM.Modules.FlexEventsCreate.Models.FlexEvent>
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    
    @Html.TextBoxFor(x => x.ItemName)
    @Html.TextAreaFor(x => x.Summary)
    
    

</div>

<script>
    

</script>